* {
   margin: 0;
   font-family: Arial;
   border: border-box;
}

.navbar {
   height: 60px;
   color: white;
   background-color: #0f1111;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.border {
   border: 2px solid transparent;
}

.border :hover {
   border: 1.5px solid white;
}

.nav-logo {
   height: 50px;
   width: 100px
}

.logo {
   background-image: url("/amazon_logo.png");
   height: 50px;
   width: 100%;
   background-size: cover;
}

.add-first {
   color: #9e9d9d;
   font-size: 12px;
   margin-left: 15px;
}

.add-sec {
   color: white;
   font-size: 14px;
   margin-left: 3px;
}

.add-icon {
   display: flex;
   align-items: center;
}

.nav-search {
   display: flex;
   height: 40px;
   width: 620px;
   border-radius: 4px;
   justify-content: space-around;
   margin-left: 5px;

}

.search-icon {
   align-items: end;
   background-color: rgb(236, 172, 33);
}

.Select-search {
   text-align: center;
   width: 50px;
   background-color: #f3f3f3;
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
   border: none;
}

.search-input {
   width: 100%;
   font-size: 1rem;
}

.search-icon {
   width: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.2rem;
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
   color: #0f1111;
}

.intro-first {
   font-size: 14px;
   color: #9e9d9d;
   width: 100px;
   border: none;
}

.Account-sec {
   font-size: 15px;
   color: #ffffff;
   width: 100%;
   border: none;
   font-style: bold
}

.nav-cart {
   display: flex;
}

.cart-icon {
   font-size: 1.5rem
}

.cart {
   margin-top: 5px;
   font-size: .9rem;
}

.nav-state{
   display: flex;
   align-items: center;
}

.state{
   font-size: small;
}

.state-icon{
   margin-top: 5px;
}